<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Viberizz</title>
</head>
<body>
    <h1>
        Viberizz
    </h1>

    <form action="/" method="post">
        <select name="song">
            {% for song in music_list %}
                <option value="{{ song }}">{{ song }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Show Recommendation">
    </form>
    {% if recommended_music_names %}
        <div>
            <h2>Recommended Songs</h2>
            <div>
                {% for name, poster in zip(recommended_music_names, recommended_music_posters) %}
                    <h3>{{ name }}</h3>
                    <img src="{{ poster }}" alt="{{ name }}">
                {% endfor %}
            </div>
        </div>
    {% endif %}
</body>
</html>